<div class="limiter">
    <div class="container-login100" style="background-image: url('~/Content/images/bg-01.jpg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">
                <div style="text-align:center; background-color:white; color:red; font-size:medium; margin:7px;"> @ViewBag.Login</div>

                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    Inicio APP
                </span>


                <div class="wrap-input100 validate-input" data-validate="Error en Correo">
                    <input class="input100" type="email" name="CorreoElectronico" placeholder="Correo Electronico">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Error en Contraseña">
                    <input class="input100" type="password" name="ContraApp" placeholder="Contraseña de APP">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>


                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        INICIAR
                    </button>
                </div>


            </form>
            <div class="text-center" style="margin-top:4%;">
            <a href="/Home/Register" style="font-size:15px; text-align:center; color:white;">REGISTRARSE</a>
                </div>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>






